<div class="container">
  <div class="row first">
    <div class="col-0 ml-0 mr-2">
      <img src="assets/img/DashboardIcon.svg" />
    </div>
    <div class="col-6 mr-0">
      Find Profile
    </div>
    <div class="col-auto">
      <img src="assets/img/ArrowIcon.svg" />
    </div>
  </div>

  <div class="row">
    <div class="col-0 ml-0 mr-2">
      <img src="assets/img/ChatIcon.svg" />
    </div>
    <div class="col-6 mr-0">
      Messages
    </div>
    <div class="col-auto">
      <img src="assets/img/ArrowIcon.svg" />
    </div>
  </div>

  <div class="row">
    <div class="col-0 ml-0 mr-2">
      <img src="assets/img/NotificationsIcon.svg" />
    </div>
    <div class="col-6 mr-0">
      Notifications
    </div>
    <div class="col-auto">
      <img src="assets/img/ArrowIcon.svg" />
    </div>
  </div>

  <div class="row">
    <div class="col-0 ml-0 mr-2">
      <img src="assets/img/FavouritesIcon.svg" />
    </div>
    <div class="col-6 mr-0">
      Favourites
    </div>
    <div class="col-auto">
      <img src="assets/img/ArrowIcon.svg" />
    </div>
  </div>
</div>
