<!-- <div class="container">
  <dl class="row menu">
    <dt class="col-auto mr-auto">
      <a (click)="doSomething()">Find Profile</a>
    </dt>
    <dd class="col-auto"><i class="arrow right"></i></dd>

    <dt class="col-auto mr-auto"><a (click)="doSomething()">Messages</a></dt>
    <dd class="col-auto"><i class="arrow right"></i></dd>

    <dt class="col-auto mr-auto">
      <a (click)="doSomething()">Notifications</a>
    </dt>
    <dd class="col-auto"><i class="arrow right"></i></dd>

    <dt class="col-auto mr-auto"><a (click)="doSomething()">Favourites</a></dt>
    <dd class="col-auto"><i class="arrow right"></i></dd>
  </dl>
</div>

 -->
<div class="container search">
  <div class="title">
    <img src="assets/img/Logo.svg" />
    <h3 class="title">Customer Connect</h3>
  </div>
  <app-menu></app-menu>
</div>
<router-outlet></router-outlet>

<!-- <a (click)="doSomething()"> Find Profile <i class="arrow right"></i></a>
    <a (click)="doSomething()"> Messages <i class="arrow right"></i></a>
    <a (click)="doSomething()"> Notifications <i class="arrow right"></i></a>
    <a (click)="doSomething()"> Favourites <i class="arrow right"></i></a>

 -->
