/* You can add global styles to this file, and also import other style files */

@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
  font-family: "daxlight";
  src: url("assets/fonts/dax-light-5872dfb3692b0-webfont.woff2") format("woff2"),
    url("assets/fonts/dax-light-5872dfb3692b0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
